<%- model_class = Payout -%>
<div class="page-header">
  <h1><%=t '.title', :default => Payout %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:publisher_id) %></th>
      <th><%= model_class.human_attribute_name(:amount_paid) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payouts.each do |payout| %>
      <tr>
        <td><%= payout.id %></td>
        <td><%= payout.id %></td>
        <td><%= payout.publisher_id %></td>
        <td><%= payout.amount_paid %></td>
        <td><%=l payout.created_at, format: :long %></td>
        <td>
          <%= link_to payout_path(payout), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to payout_path(payout), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_payout_path,
            :class => 'btn btn-primary' %>
